.header {
  height: 60px;
}

.header__menu {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 25px;
}

.header__links {
  display: flex;
  justify-content: space-between;
  max-width: 80%;
  flex: 1 1 auto;
}

.header__link {
  display: block;
  font-size: 16px;
  font-weight: 500;
  color: #4B5D68;
  text-decoration: none;
  text-transform: uppercase;
  font-style: normal;
  line-height: 160%;
  transition: all 0.2s;
}

.header__link:hover {
  color: rgb(151, 0, 0);
  letter-spacing: 1px;

}

@media screen and (min-width:576px) {
  .header__links {
    max-width: 60%;
  }
}

@media screen and (min-width: 768px) {
  .header {
    height: 80px;
  }

  .header__menu {
    justify-content: flex-end;
  }

  .header__links {
    max-width: 350px;
  }

  .header__link {
    font-size: 18px;
  }

}

@media screen and (min-width: 992px) {
  .header {}

  .header__menu {
    gap: 60px;
  }

  .header__links {
    max-width: 400px;
  }
}